name: Sigma Kernel

on:
#   push:
#     branches:
#       - main/*

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:    
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Environment‌‌
        run: |
          cd /tmp
          sudo apt remove firefox
          sudo apt autoremove
          sudo apt-get update && sudo apt-get upgrade -y
          sudo apt-get install git ccache automake flex lzop bison gperf build-essential zip curl zlib1g-dev g++-multilib libxml2-utils bzip2 libbz2-dev libbz2-1.0 libghc-bzlib-dev squashfs-tools pngcrush schedtool dpkg-dev liblz4-tool make optipng maven libssl-dev pwgen libswitch-perl policycoreutils minicom libxml-sax-base-perl libxml-simple-perl bc libc6-dev-i386 lib32ncurses6 libx11-dev lib32z-dev libgl1-mesa-dev xsltproc unzip device-tree-compiler python3 -y
          git clone https://github.com/akhilnarang/scripts && cd scripts && ./setup/android_build_env.sh
     
      - name: Build Kernel
        run: |
          cd $GITHUB_WORKSPACE
          sudo bash build.sh
          sudo chmod -R 0777 ./*

      - name: Upload to Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            ${{ github.workspace }}/out/*
          name: Sigma-Kernel-${{ github.run_id }}
          tag_name: Sigma-Kernel-${{ github.run_id }}
          body: |
            Always Mewing
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Send Telegram Notification on New Release
        uses: cbrgm/telegram-github-action@v1
        with:
          token: ${{ secrets.TELEGRAM_TOKEN }}
          to: ${{ secrets.TELEGRAM_CHAT_ID }}
          message: |
            Sigma Kernel build finished 
            Release Name: Sigma-Kernel-${{ github.run_id }}
            Tag: Sigma-Kernel-${{ github.run_id }}
            Repository: https://github.com/${{ github.repository }}
            Download Kernel: https://github.com/${{ github.repository }}/releases/download/Sigma-Kernel-${{ github.run_id }}/Sigma-Kernel.zip
            Build: @${{ github.actor }}
